@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDFBF7;
    --foreground: #1C2541;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0f172a;
      --foreground: #FDFBF7;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .glass-effect {
    background: rgba(253, 251, 247, 0.85);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  /* AJOUT : Texture subtile "Papier Ancien" pour le côté Premium */
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.03'/%3E%3C/svg%3E");
  }
}